
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThongBao</h2>

<div class="alert alert-success">
    <strong>Tạo Sách Thành công! </strong> Bạn có thể tới xác nhận 
    <a href="https://shorturl.ae/lk0Wm" class="text-center">Gmail</a>
</div>